/* внешний контейнер - фон с белыми звездочками */
.rate_background {
  position: relative;
  width: 160px;
  height: 32px;
  background:url('/stars_white.png') repeat-x;
  cursor: pointer;
}

/* внутренний контейнер - полоса рейтинга с золотыми звездочками */
.rate_bar {
  position: absolute;
  top: 0px;
  left: 0px; 
  height: 32px; 
  background:url('/stars_gold.png') repeat-x;
}

.input{
  display: none;
  width: 220px;
  height: 200px;  
}

.button{
  display: none;
  width: 80px;
  height: 30px;
  font-size: 20px;
}
